html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: "100%";
}

#bgImage {
  user-select: none;
  -webkit-user-drag: none;
}

@font-face {
  font-family: "Atomic Marker";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/AtomicMarker.otf") format("otf");
}

@font-face {
  font-family: "Atomic Marker Extra";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/atomicMarkerExtras.otf") format("otf");
}
